.dropdown-menu>a:hover {
    background-color: rgb(70, 73, 80);
    color:white;
}
.dropdown-menu {
    margin-right: 0;
    min-width: 4px;
}
.dropdown-menu>a {
    font-size: 12px;
}

.div_item {
    background-color: rgba(82, 83, 85, 0.527); 
    border-radius: 5px;
}
.button{
    padding:0 15px 5px 15px; 
    height: 40px; 
    border-radius: 50%;
}
.font_size{
    color: white; 
    padding: 12px; 
    font-size: 18px;
}
.perjob{
    background-color: white; 
    border-radius: 5px; 
    padding: 20px;
}
.background {
    background: url('https://files.slack.com/files-pri/TH1RHBXSQ-FQXBM4CLE/wallpaper.jpg')
}