@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$primary-color: red;
$bg-color: #F1F2F3;

body {
    margin: 0;
    background-color: $bg-color;
}

.form-control {
    border-radius: 10px;
    height: 43px;
}
.btn-warning {
    background-color: #FDC55F !important; 
    height: 43px;
    border-radius: 5%;
    width: 85px;
}
.line {
    border: 1px solid black;
}
.font-weight-bold {
    color: #9682DA;
    font-size: large;
    padding: 5px;
}

.input-group-text {
    background-color: #fff !important;
    border-radius: 15%;
}
.icon-color-liked {
    color: #9682DA;
    // color: #fff;
}
.icon-color {
    // color: #9682DA;
    // border: 1px solid #9682DA; 
    color: #fff;
}
.btn-sign {
    border-color: #9682DA ;
    color: #9682DA;
    width: 130px;
}

.btn-sign:hover {
    background-color: #9682DA;
    color: white;
}
#sign{
    width: 100%;
}
.link {
    color: #9682DA;
}
.link:hover {
    color: rgb(112, 93, 175);
}

.search {
    width: 30%;
    // margin-right: 15px;
    // margin-left: 30px;
}
.activity{
    background-color: #ec9b3b;
}
.show-all {
    border: 3px solid gray;
    width: 100px;
}
.all {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
.bg-color {
    color: rgb(233, 173, 61);
}
.small-img {
    height: 80px;
    width: 80px;
    border-radius: 10%;
}
.nav-part {
    width: 30%;
    padding: 15px;
}
.navbar {
    width: 100%;
    z-index: 1;
}
.col-md-8 {
    width: 500px;
}
.user-bg {
    background-color: #D5D5EE;
}
.close {
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 20px;
}
.close-chat {
    font-size: 25px;
    font-weight: bold;
}
.show-activity {
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: 1;
    width: 800px !important;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(206, 198, 233);

}
.label-text {
    width: 150px;
    border-radius: 10px;
}
.chat-card {
    width: 500px;
    position: absolute;
    top: 8%;
    left: 30%;
    z-index: 1;
    border-radius: 15px;    
    padding: 15px;
}
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
}
.links {
    width: 30%;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
.select-loc {
    position: absolute;
    top: 30%;
    left: 30%;
    height: 200px;
    width: 600px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}
.current {
    position: absolute;
    top: 15%;
    right: 5%;
    // height: 50px !important;
    // width: 50px !important;
    font-size: 20px;
    .icon-size {
        cursor: pointer;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 40px;
        color: rgb(233, 210, 111);
    }
}
.loc-text {
    width: 200px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
}
.loc {
    width: 83.5%;
}
.actvity-bg {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    top: 7%;
    left: 14%;
    z-index: 2;
}