.main {
    margin-top: 25px;
    position: absolute;
    top: 10%;
    background-color: honeydew; 
    padding: 30px 10px;
    width: 50%;
    border: 1px solid #f3c4c6;
}
.for{
    background-color: black;
}
.main h1 {
    font-size: 28px;
}
.main p {
    font-size: 9px;
    font-style: italic;
}
.modal {
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}